/* 
    General Styles
*/
#container{
    padding: 20px;
}
#topPic{
    height: 70px;
    width: 150px;
} 
nav{
    padding-right: 40px;
}

.dropdown-menu{
    padding: 10px;
    
}
h2{
    color: red;
    padding-top: 20px;
    padding-bottom: 20px;
}
#uniqueview{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#float{
    display:flex;
}
